body
{
    font-family: Roboto,arial;
    color: white;
    background-color: rgb(24, 24, 24);
    margin-left: 20px;
}

.button-move
{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: rgb(24, 24, 24);
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    cursor: pointer;
    margin-right: 15px;
    transition: 0.15s;

}

.img-button
{
    height: 50px;
}

.result
{
    font-weight: 700;
    margin-bottom: 30px;
    font-size: larger;
}

.move
{
    margin-top: 50px;
}
.reset-button
{
    height: 50px;
    width: 150px;
    background-color: rgb(24, 24, 24);
    color: white;
    font-weight: 700;
    padding:10px 10px 10px 10px;
    border-radius: 50px;
    border-style:solid;
    border-color: white;
    border-width:3px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.15s;
}

.reset-button:active
{
    opacity: 0.7;
    color: rgb(176, 176, 176);
    border-color: rgb(176, 176, 176);
}

.button-move:active
{
    border-color: rgb(176, 176, 176);
}

