.logo1{
    margin-top: 10px;
    margin-bottom:0px;
    margin-left:10px;
    margin-right:10px;
    width: 150px;
    height: 100px;
    object-fit: cover;
    border:none;
    border-radius: 20px;

 }

 .logo2{
    width: 150px;
    height: 150px;
    object-fit: fill;
    margin-left: 50px;
 }

 .logo3{
    width: 150px;
    height: 150px;
    object-fit: fill;
    border-radius: 75px;
    margin-left: 50px;
 }

 .search1{
    font-size: 22px;
    border-radius: 8px;
    font-family: arial;
   
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
 }
 .search2{
    font-family: Arial, Helvetica, sans-serif;
    border:none;
    width: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: larger;
    border-radius: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16)

 }
 .search2:focus{
   outline: none;
 }
 
 .search1:focus{
   outline: none;
 }

 